# osx_image: xcode12.0
# language: swift
# os: osx
# xcode_workspace: MediaReviewApp.xcworkspace
# xcode_scheme: MediaReviewApp
# xcode_destination: platform=iOS Simulator,OS=13.1,name=iPhone X
# before_install:
# - pod install



# language: swift
# os: osx

# git:
#   depth: 1
  
  
# jobs:
#   include:
#     - name: Run Unit Tests (iOS, Xcode 10.3)
#       osx_image: xcode10.3
#       script: Scripts/test.sh -s "Search Doc" -d "OS=12.2,name=iPhone X" -d "OS=11.4,name=iPhone X" -d "OS=10.3.1,name=iPhone SE"

language: objective-c  #1
osx_image: xcode13.1
xcode_workspace: MediaReviewApp.xcworkspace
xcode_scheme: MediaReviewApp
#xcode_sdk: iphonesimulator14.2

script: — xcodebuild clean build -workspace MediaReviewApp.xcworkspace -scheme MediaReviewApp -destination “platform=iOS Simulator,name=iPhone X”
